nav {
    background-color: grey;
    height: 50px;
}
button{
  background-color: transparent;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: row;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

nav > ul > #logo{
    flex: 10%;
    align-self: left;
}

nav > ul > #acount{
    flex: 15%;
    text-align: right;
}

nav > ul > #void{
    flex: 75%;
}